.gitattributes !filter !diff
*.ipynb filter=git-crypt diff=git-crypt
Main.scala filter=git-crypt diff=git-crypt
FunSets.scala filter=git-crypt diff=git-crypt
TweetSet.scala filter=git-crypt diff=git-crypt
MaxPairwiseProduct.scala filter=git-crypt diff=git-crypt
MaxPairwiseProduct.sc filter=git-crypt diff=git-crypt
FibonacciImp.scala filter=git-crypt diff=git-crypt
Fibonacci.sc filter=git-crypt diff=git-crypt
FibonacciImp.hs filter=git-crypt diff=git-crypt