.gitattributes !filter !diff
Main.scala filter=git-crypt diff=git-crypt
FunSets.scala filter=git-crypt diff=git-crypt
TweetSet.scala filter=git-crypt diff=git-crypt
MaxPairwiseProduct.scala filter=git-crypt diff=git-crypt
MaxPairwiseProduct.sc filter=git-crypt diff=git-crypt
*Imp.scala filter=git-crypt diff=git-crypt
*Imp.sc filter=git-crypt diff=git-crypt
*Imp.hs filter=git-crypt diff=git-crypt
Huffman.scala filter=git-crypt diff=git-crypt
Anagrams.scala filter=git-crypt diff=git-crypt

TweetLength.scala filter=git-crypt diff=git-crypt
Polynomial.scala filter=git-crypt diff=git-crypt
Calculator.scala filter=git-crypt diff=git-crypt
