src/main/resources/1979.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1999.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1981.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/2001.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/2002.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/2015.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1995.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1996.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/2007.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1980.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1983.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1987.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1991.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1992.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/2004.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/2010.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/2012.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1978.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1989.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1990.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1993.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/2000.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1982.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1988.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/2005.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/2009.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/stations.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1975.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1976.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1984.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1994.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/2008.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1977.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1986.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1997.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/2006.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/2014.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1985.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/1998.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/2003.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/2011.csv filter=lfs diff=lfs merge=lfs -text
src/main/resources/2013.csv filter=lfs diff=lfs merge=lfs -text
